.myButtonStyle{
    background-color: white!important;
    border: 1px solid #d0d0d0!important;
    border-radius: 0!important;
    margin-bottom: 30px!important;
    outline: none!important;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    word-wrap: break-word;
    max-width: 250px;
    margin: auto;
    text-align: center;
}
.myButtonStyle:active{
    background-color: #efefef!important;
}
.myButtonStyle:focus{
    outline: none;
}
.greyFont {
    font-size: 17px;
    color: #555;
}

.img-logo {
    max-width: 100%; float: left; padding-top: 15px;
}

.img-logo-1 {
    max-width: 100%; padding-top: 15px;
}

.p-description-2{
    padding-bottom: 15px;
}

.p-description-1{
    clear:both;padding-top: 5px;
}

.myButtonDefault{
    -moz-box-shadow: 0px 10px 14px -7px #0c819e;
    -webkit-box-shadow: 0px 10px 14px -7px #0c819e;
    box-shadow: 0px 6px 14px -6px #0c819e;
    background-color: #2484C3;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.myButton {
    -moz-box-shadow: 0px 10px 14px -7px #0c819e;
    -webkit-box-shadow: 0px 10px 14px -7px #0c819e;
    box-shadow: 0px 6px 14px -6px #0c819e;
    background-color: #599bb3;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
    padding: 8px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #3d768a;
}

.myButton:hover {
        color:#ffffff;
        background-color:#408c99;
        text-decoration: none;

}

.myButton:active {
        position:relative;
        text-decoration: none;
        color:#ffffff;
}

.myButton:visited{
    color: #ffffff;
    text-decoration: none;
}

.language-div{
    float:  right;
}
.first-language{
    padding-right: 8px;
}
.second-language{
    padding-right:  3px;
}

.center-text{
    text-align: center
}