<!DOCTYPE html>
<html lang="">
<head>
    {{ title|safe if title is not none }}
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta name="robots" content="index, follow">
     {% for meta in metatags %}
        {{ meta|safe }}
    {% endfor %}
     <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" media="screen">
     <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet" onload="if(media!='all')media='all'" />
     <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" onload="if(media!='all')media='all'" />
     <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" onload="if(media!='all')media='all'" />
     <script
        src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
        crossorigin="anonymous">
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-21825027-8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-21825027-8', {'page_path': window.location.href});
    </script>
    <script>
        gtag('event', 'Memorial', {
              'event_category': 'redirect_default',
              'event_label': window.location.href,
              'value': 1
            });
    </script>
    <script>
        function changeLanguage(languageCode) {
            var otherLanguage = languageCode == 'pt' ? 'en' : 'pt';
            $("[lang='" + languageCode + "']").show();
            $("[lang='" + otherLanguage + "']").hide();
        }
    </script>
</head>
<body>
    <!-- starts memorial container -->
    <div id="memorial-container" class="containers">

        {% set style_pt = ("style='display: none'" if default_language == 'en') | safe %}
        {% set style_en = ("style='display: none'" if default_language == 'pt') | safe %}

        <!-- starts language container -->
        {% if (not message_pt and not message_en) or (message_pt and message_en) or link_pt or link_en %}
        <div id="language-container" class="containers">
            <a lang="en" href="{{ link_pt if link_pt else 'javascript:void(0)' }}"
                onclick="{{ '' if link_pt else 'changeLanguage(\'pt\');' }}"
                {{ style_en }}>Portuguese</a>
            <a lang="pt" href="{{ link_en if link_en else 'javascript:void(0)' }}"
                onclick="{{ '' if link_en else 'changeLanguage(\'en\');' }}"
                {{ style_pt }}>English</a>
        </div>
        {% endif %}
        <!-- ends language container -->

        <!-- starts img container -->
        <div id="img-container" class="containers">
            <img src="{{ logo if logo else url_for('static', filename='img/color_vertical_compressed.png') }}">
        </div>
        <!-- ends img container -->

        <!-- starts entity message -->
        {% if message_pt and default_language == 'pt' or message_en and default_language == 'en' %}
            <p {{ style_pt }} lang="pt">{{ (message_pt|safe) }}</p>
            <p {{ style_en }} lang="en">{{ (message_en|safe) }}</p>
        {% else %}
            <p {{ style_pt }} lang="pt">O site foi desactivado.</p>
            <p {{ style_en }} lang="en">The site has been disabled.</p>
        {% endif %}
        <!-- ends entity message -->

        <!-- starts form button -->
        <form action="{{ redirect_url }}" class="containers" method="GET">

            {% for key, value in args %}
                <input type="hidden" name="{{ key|e }}" value="{{ value|e }}">
            {% endfor %}

            <!-- starts message from Arquivo.pt -->
            <p {{ style_pt }} lang="pt">O <a href="https://arquivo.pt" target="_blank">Arquivo.pt</a> preservou o seu conteúdo.</p>
            <p {{ style_en }} lang="en"><a href="https://arquivo.pt" target="_blank">Arquivo.pt</a> preserved its content.</p>
            <!-- ends message from Arquivo.pt -->

            <button {{ style_pt }} lang="pt" id="redirectButtonPT">Ver no Arquivo.pt</button>
            <button {{ style_en }} lang="en" id="redirectButtonEN">Browse on Arquivo.pt</button>
        </form>
        <!-- ends form button -->
    </div>
    <!-- ends memorial container -->
</body>
</html>
